:root{
    --primary-100:#007BFF;
    --primary-200:#69a9ff;
    --primary-300:#e0ffff;
    --accent-100:#00BFFF;
    --accent-200:#00619a;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#FFFFFF;
    --bg-200:#f5f5f5;
    --bg-300:#cccccc;
}

body{
    margin: 0;
    height: 100%;
    background-color: #DCD9D4;
    background-image: linear-gradient(to right, #f5f7fa 0%, #c3cfe2 100%);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentToRender{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav{
    position: relative;
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch{
    position: relative;
    background-color: var(--bg-100);
    width: 75px;
    height: 35px;
    border-radius: 12px;
    border: 2px solid var(--bg-100);
    cursor: pointer;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}


.temp-option{
    position: absolute;
    z-index: 1;
    color: var(--text-200);
    font-size: 22px;
}

.temp-C-option{
    top: 4px;
    left: 4px;
    color: var(--bg-100);
}

.temp-F-option{
    top: 4px;
    right: 10px;
}

.switch input:checked ~ .slider{
    -webkit-transform: translateX(43px);
    -ms-transform: translateX(43px);
    transform: translateX(43px);
}
.switch input:checked ~ .temp-F-option{
    color: var(--bg-100);
}
.switch input:checked ~ .temp-C-option{
    color: var(--text-200);
}

.slider{
    position: absolute;
    border-radius: 12px;
    left: 0;
    top: 2.5px;
    width: 30px;
    height: 30px;
    background-color:  var(--primary-100);
    transition: all 0.3s ease-in-out;
}



.fa-magnifying-glass{
    position: relative;
    left: 32px;
    color: var(--text-200)
}

.fa-rotate-right{
    color: rgb(230, 230, 230);
    
}

#search-input{
    width: 30%;
    height: 35px;
    font-size: 16px;
    padding: 8px 0 8px 38px;
    border-radius: 8px;
    border: none;
    color: var(--text-100);
    box-shadow: 0px 7px 14px rgb(95, 95, 95, 0.33);
}

#search-input:focus{
    outline: 1px solid var(--primary-200);
    caret-color: var(--primary-200);
}

#reload-btn{
    background-color: var(--primary-100);
    height: 50px;
    width: 50px;
    border-radius: 8px;
    border: none;
    margin-left: 16px;
    
}

#reload-btn:hover{
    background-color: var(--primary-200);
}

#reload-btn:hover .fa-rotate-right{
    color: var(--text-100);
    animation: rotate 1.0s ease;
}

.day-info-container{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 16px;
    margin-bottom: 32px;
}

.day-info-top, .day-info-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}

#date, #temperature, #place{
    margin: 0;
}

#hoje-text{
    color: var(--text-100);
    text-transform: uppercase;
    font-size: 26px;
}

.sunrise-sunset-span{
    color: var(--text-100);
    font-size: 18px;
}

.sunrise-sunset-span span{
    color: var(--accent-200);
}

#date{
    color: var(--text-200);
    font-size: 20px;
}

#temperature{
    color: var(--text-100);
    font-size: 48px;
}

#place{
    color: var(--text-200);
    font-size: 20px;
}

.forecast-container{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}

#title-forecast{
    font-size: 28px;
    color: var(--text-100);
}

.tempo-atual-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-tempo{
    color: var(--primary-100);
    font-size: 18px;
}

.forecast-heading{
    display: flex;
    width: 91%;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 16px;
}

.span-heading{
    background: rgb(210,231,244);
    background: linear-gradient(90deg, rgba(210,231,244,1) 0%, rgba(178,200,212,1) 100%); 
    width: 50px;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    color: var(--text-200);
}

.forecast-data{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    align-items: center;
    gap: 8px;
}

.day-forecast-container{
    background-color: var(--bg-100);
    border-radius: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 7px 14px rgb(95, 95, 95, 0.33);
}

.day-forecast-container span{
    width: 50px;
    text-align: center;
    color: var(--text-100);
    font-size: 18px;
}

#aviso-nome-cidade{
    color: var(--accent-200);
}

.fa-droplet{
    color: #00BFFF;
}

::-webkit-scrollbar{
    background-color: #C4D0E3;
}

div ::-webkit-scrollbar{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 10px;
}



ul{
    box-sizing: border-box;
    display: none;
    position: absolute;
    z-index: 2;
    top: 95px;
    right: calc((100vw/2) - 15.25%);
    background-color: var(--bg-100);
    color: var(--text-200);
    width: calc(30% + 38px);
    margin: 0;
    padding: 0;
    border-radius: 8px;
    border: none;
}

ul li{
    padding: 12px;
    font-size: 18px;
    list-style: none;
    border-radius: 8px;

}

li:hover{
    background-color: var(--primary-200);
    color: var(--bg-100);
    cursor: pointer;
}

.fa-chevron-left, .fa-chevron-right{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-100);
    width: 25px;
    height: 25px;
    padding: 8px;
}

.fa-chevron-left:hover, .fa-chevron-right:hover{
    color: var(--accent-100);
}

.slider-parent-container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider-container{
    width: 87%;
    overflow-x: hidden;
    padding-bottom: 18px;
    mask: linear-gradient(90deg,#0000,#000 10% 80%,#0000);
    -webkit-mask: linear-gradient(90deg,#0000,#000 10% 80%,#0000);
}

.day-hours-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 12px;
    right: 0;
    transition: left 0.3s ease, right 0.3s ease;
}

.animation-left{
    animation: slideLeft 1s ease forwards;
}

.hour-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-100);
    padding: 12px;
    height: 170px;
    width: 125px;
    min-width: 125px;
    border-radius: 10px;
    box-shadow: 0px 7px 14px rgb(95, 95, 95, 0.33);
}

.horario{
    margin: 0;
    color: var(--text-200);
}

.card-temp{
    font-size: 18px;
    color: var(--accent-200);
}

#loading-icon{
    display: none;
    margin-top: 64px;
    animation: rotate 1s linear infinite;
}

.more-info-container{
    margin: 64px 64px;
    padding: 12px 22px 12px 22px;
    width: 90%;

}

#more-info-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-100);
    font-size: 28px;

}

.fa-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    color: var(--primary-100);
}

.card-more-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 200px;
    background-color: var(--bg-100);
    border-radius: 8px;
    padding: 10px 10px 10px 16px;
    box-shadow: 0px 7px 14px rgb(95, 95, 95, 0.33);
}

.card-uv{
    flex-direction: row;
}

.card-uv-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-more-info h3{
    color: var(--text-200);
    font-size: 20px;
}

.card-more-info span{
    color: var(--accent-200);
    margin-bottom: 16px;
    font-size: 56px;
}

.card-more-info p{
    font-size: 22px;
    color: var(--text-200);
    display: inline;
}
.card-uv-graph-container{
    display: flex;
    align-items: center;
    height: 100%;
}


.uv-graph{
    width: 30px;
    border: none;
    height: 90%;
    border-radius: 12px;
    background: rgb(137,207,240);
    background: linear-gradient(0deg, rgba(137,207,240,1) 0%, rgba(108,180,238,1) 15%, rgba(0,127,255,1) 40%, rgba(0,102,178,1) 60%, rgba(19,39,79,1) 100%);
}

.graph-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding: 0 8px 8px 0;
}

.graph-text-container p{
    font-size: 12px;
    color: var(--accent-200);
    text-align: right;
}

.more-info-data{
    display: flex;
    gap: 18px;
    justify-content: center;
    flex-wrap: wrap;
    
}

#wind-dir-span{
    font-size: 28px;
    word-wrap: break-word;
}

.epa-index-container{
    display: flex;
    align-items: center;
}

.fa-circle-info{
    margin-left: 12px;
    color: var(--primary-100);
}

.fa-circle-info:hover{
    color: var(--primary-200);
}


@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
